<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <div class="Container">
            <%- body %>
        </div>
    </body>
</html>
